@model IEnumerable<DoctorVM>

@{
    ViewData["Title"] = "Doctors";
}

@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
}

<div class="container">

<h1>Doctors</h1>
<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Speciality</th>
            <th>Is Locked Out</th>
            <th class="">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Model)
        {
            <tr>
                <td>@doctor.Name</td>
                <td>@doctor.Email</td>
                <td>@doctor.Phone</td>
                <td>@doctor.Speciality</td>
                <td>
                    @if (doctor.IsLockedOut)
                    {
                        <span class="badge bg-danger">Locked</span>
                    }
                    else
                    {
                        <span class="badge bg-success">Active</span>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@doctor.Id" class="btn btn-primary me-3">Details</a>

                    @if (doctor.IsLockedOut)
                    {
                        <a onclick="toggleLock(@doctor.Id)" class="btn btn-success">Unlock</a>
                    }
                    else
                    {
                        <a onclick="toggleLock(@doctor.Id)" class="btn btn-danger">Lock</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>


</div>
@Html.AntiForgeryToken()

@section Scripts {

    @* Jquery *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @* Sweet Alerts *@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @* Data tables *@
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {

        $('.table').DataTable({
        order: [[0, 'desc']]
        });

        });

        function toggleLock(doctorId) {

        Swal.fire({
        title: "Are you sure you want to do this?",
        showCancelButton: true,
        confirmButtonText: "Save",
        confirmButtonColor: "#dc3545"

        }).then((result) => {

        if (result.isConfirmed) {

        $.ajax({

        url: '/Doctors/ToggleLock/' + doctorId,
        type: 'POST',

        headers: {
        RequestVerificationToken:
        $('input[name="__RequestVerificationToken"]').val()
        },

        success: function (response) {
        Swal.fire({
        title: 'Success!',
        text: response.message,
        icon: 'success'
        }).then(() => {
        location.reload();
        });

        },

        error: function (response) {

        Swal.fire({
        title: 'Error!',
        text: response.message,
        icon: 'error',
        confirmButtonText: 'Done'
        });

        }
        });
        }
        });
        }
    </script>
}